@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-obsidian text-white antialiased font-sans selection:bg-gold-500 selection:text-black;
  }
}

@layer utilities {
  .text-gradient {
    @apply text-transparent bg-clip-text bg-gradient-to-r from-gold-300 via-gold-500 to-gold-300;
  }

  .bg-300\% {
    background-size: 300% 300%;
  }
}